.addNewEmpForm{
    position: relative;
    top:5rem;
    left: 30%;
}
.formInput{
    width: 35rem;
}
.addBtn{
    width: 10rem;
}

@media only screen and (max-width:800px){
    .addNewEmpForm{
        position: relative;
        top:0rem;
        left: 42%;
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
    }
    .formInput{
        width: 16rem;
    }
    .addBtn{
        width: 9rem;
    }
}