.login_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;   
}

.loginForm{
    display: inline-block;
    background-color: rgba(0,0,0,0.1) ;
    border: none;
    margin: 15px 0;
    padding: 0px 60px;
    border-radius: 10px;
    text-align: left;
    height: 45vh;
}
.form_Input{
    display: flex;
    flex-direction: column;
    width: 280px;
}
input{
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.5);
}
label{
    font-size: 13px;
    color: black;
}
.errorMsg{
    font-size: 12px;
    padding: 3px;
    color: red;
    max-width: 285px;
    margin-bottom: 0px;
}

.loginBtn{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(166, 10, 166);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media only screen and (max-width:600px){
    .loginForm{
        position: absolute;
        top: 150px;
        left: 30px;
    }
}